---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import { PortableText } from "astro-portabletext";
import { urlFor } from "../utils/image";
export const prerender = false;
import { getAbout } from "../utils/sanity";
const about = await getAbout();
---

<Layout title="About Jules">
  <section>
    <div class="container">
      <div class="portrait">
        {about[0].portrait ?
          <img
            class="portrait-image"
            src={urlFor(about[0].portrait).width(about[0].portrait.width).height(about[0].portrait.height).url()}
            alt='Jules Portrait'
            width={about[0].portrait.width}
            height={about[0].portrait.height} />
        : null}
      </div>
      <div class="content">
        {about[0].content ? about[0].content.map(section =>
          <h2 class="section-title">{section.sectionTitle}</h2>
          <PortableText value={section.sectionText} class="section-text" />
        )
        : null}
      </div>
    </div>
  </section>
  <Socials />
</Layout>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2em;
    gap: 5%;
  }
  .portrait, .content {
    width: 50%;
  }
  .portrait {
    display: flex;
    justify-content: center;
  }
  .portrait-image {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 20px solid var(--white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }

  @media (max-width: 900px) {
    .container {
      flex-wrap: wrap;
      justify-content: center;
    }
    .portrait, .content {
      width: 100%;
    }
    .content {
      margin-top: 5em;
    }
  }
</style>
<style is:inline>
  .section-title {
    font-family: var(--font-display);
    font-size: 2em;
    color: var(--primary-dark);
    line-height: 1em;
    margin: 0;
  }
  .section-text {
    margin-bottom: 3em;
  }
</style>