---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import { urlFor } from "../utils/image";

export const prerender = false;

import { getArt } from "../utils/sanity";
const art = await getArt();
---

<Layout title="Julesen Art Gallery">
  <section>
    <div class="container">
      <div class="art-container">
        {art.map(art =>
          <a
            class="glightbox image"
            href={urlFor(art.mainImage).width(art.mainImage.width).height(art.mainImage.height).url()}
            data-glightbox=`title: ${art.title}; description: Year: ${art.year}<br>Medium: ${art.medium}<br>Size: ${art.size};`
            data-type="image"
          >
            <img
              class="artpiece"
              src={urlFor(art.mainImage).width(Math.round(art.mainImage.width*.1)).height(Math.round(art.mainImage.height*.1)).url()}
              alt={art.title}
            />
          </a>
        )}
      </div>
    </div>
  </section>
  <Socials />
</Layout>

<script>
  import GLightbox from "glightbox";
  import "glightbox/dist/css/glightbox.min.css";
  document.addEventListener("astro:page-load", () => {
      console.log("Glightbox function run");
      const lightbox: any = GLightbox({
          touchNavigation: true,
          loop: true,
          autoplayVideos: true,
          width: "80vw",
          height: "80vw",
      });
  }, { once: false });
</script>

<style>
  .container {
    width: 100%;
    height: auto;
    max-width: 1400px;
    margin: 2em auto;
    padding-bottom: 10em;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .art-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }

  .artpiece {
    border: 20px solid var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    max-width: 80vw;
    max-height: 80vw;
    transition: box-shadow .5s ease;
  }

  .artpiece:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
</style>

<style is:global>
  .gslide-desc {
    font-family: var(--font-primary) !important;
    font-size: 110% !important;
  }
  .gslide-title {
    font-family: var(--font-primary) !important;
    font-weight: bolder !important;
    font-size: 150% !important;
    margin-top: 0 !important;
  }
</style>