---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import { urlFor } from "../utils/image";

export const prerender = false;

import { getArt } from "../utils/sanity";
const art = await getArt();
---

<Layout title="Julesen Art Gallery">
  <section>
    <div class="container">
      <div class="art-container">
        {art.map(art =>
          <a
            class="glightbox"
            href={urlFor(art.mainImage).width(art.mainImage.width).height(art.mainImage.height).url()}
            data-glightbox=`title: ${art.title}; description: Year: ${art.year}<br>Medium: ${art.medium}<br>Size: ${art.size};`
            data-type="image"
          >
            <img
              class="artpiece"
              src={urlFor(art.mainImage).width(Math.round(art.mainImage.width*.1)).height(Math.round(art.mainImage.height*.1)).url()}
              alt={art.title}
            />
          </a>
        )}
      </div>
    </div>
  </section>
  <Socials />
</Layout>

<script>
  import GLightbox from "glightbox";
  import "glightbox/dist/css/glightbox.min.css";
  document.addEventListener("astro:page-load", () => {
      console.log("Glightbox function run");
      const lightbox: any = GLightbox({
          touchNavigation: true,
          loop: true,
          autoplayVideos: true,
          width: "80vw",
          height: "80vw",
      });
  }, { once: false });
</script>

<style>
  .container {
    max-width: 1200px;
    margin: 2em auto;
    display: flex;
    justify-content: center;
  }

  .art-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;
  }

  .artpiece {
    border: 20px solid var(--white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    max-width: 80vw;
    max-height: 80vw;
  }
  .artpiece:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
</style>

<style is:global>
  .gslide-desc {
    font-family: var(--font-primary) !important;
    font-size: 110% !important;
  }
  .gslide-title {
    font-family: var(--font-primary) !important;
    font-weight: bolder !important;
    font-size: 150% !important;
    margin-top: 0 !important;
  }
</style>