---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import { urlFor } from "../utils/image";

export const prerender = false;

import { getArt } from "../utils/sanity";
const art = await getArt();
---

<Layout title="Julesen Art Gallery">
  <section>
    <div class="container">
      <div class="art-container">
        {art.map(art =>
          <a
            class="glightbox image"
            href={urlFor(art.mainImage).width(art.mainImage.width).height(art.mainImage.height).url()}
            data-glightbox=`title: ${art.title}; description: Year: ${art.year}<br>Medium: ${art.medium}<br>Size: ${art.size};`
            data-type="image"
          >
            <img
              class="artpiece"
              src={urlFor(art.mainImage).width(Math.round(art.mainImage.width*.1)).height(Math.round(art.mainImage.height*.1)).url()}
              alt={art.title}
            />
          </a>
        )}
      </div>
    </div>
  </section>
  <section>
    <div class="bottomlogo">
      <div class="fakelogo"></div>
    </div>
  </section>
  <Socials />
</Layout>

<script>
  import GLightbox from "glightbox";
  import "glightbox/dist/css/glightbox.min.css";
  document.addEventListener("astro:page-load", () => {
      console.log("Glightbox function run");
      const lightbox: any = GLightbox({
          touchNavigation: true,
          loop: true,
          autoplayVideos: true,
          width: "80vw",
          height: "80vw",
      });
  }, { once: false });
</script>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const images = gsap.utils.toArray('.image');

  images.forEach(image => {
    gsap.to(image, {
      scrollTrigger: {
        trigger: image,
        start: "center center",
        toggleActions: "play none reverse none",
        scrub: 1,
      },
      x: 0,
      rotation: 360,
    });
  });


  gsap.to(".bottomlogo", {
    scrollTrigger: {
      trigger: ".bottomlogo",
      start: "top center",
      toggleActions: "play none restart none",
    },
    scale: 2,
    opacity: 1,
    duration: 2,
  })

  // let toggleAnimations = document.querySelector("#toggleAnimations");
  // console.log(toggleAnimations);
  //
  // toggleAnimations.addEventListener("change", () => {
  //   // console.log(images);
  //   if(!toggleAnimations.checked) {
  //     images.forEach(image => {
  //       gsap.to(image, {
  //         scrollTrigger: {
  //           trigger: image,
  //           toggleActions: "none none none none",
  //           scrub: 1,
  //         },
  //         x: 0,
  //         rotation: 0,
  //       });
  //     });
  //   }
  // });
</script>

<style>
  .container {
    width: 100vw;
    max-width: 1200px;
    margin: 2em auto;
    padding-bottom: 10em;
    display: flex;
    justify-content: center;
  }

  .art-container {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;
  }

  .artpiece {
    border: 20px solid var(--white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    max-width: 80vw;
    max-height: 80vw;
  }
  .artpiece:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  .bottomlogo {
    margin-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  .fakelogo {
    width: 170px;
    height: 170px;
    background-color: var(--primary);
    border-radius: 50%;
  }
</style>

<style is:global>
  .gslide-desc {
    font-family: var(--font-primary) !important;
    font-size: 110% !important;
  }
  .gslide-title {
    font-family: var(--font-primary) !important;
    font-weight: bolder !important;
    font-size: 150% !important;
    margin-top: 0 !important;
  }
</style>